@media (max-width:1200px){
	.MinAboutStart{
		width: 70%;
	}
	.HeaderNav li {
		font-size: 15px;
	}
}

@media (max-width: 900px) {
	.HeaderNav li {
		font-size: 10px;
	}
}


@media (max-width: 768px){
	body.lock {
		overflow: hidden;
	}
	.burger {
		display: block;
		position: relative;
		left: 0;
		top: 0;
	}
	header{
		position: fixed;
		z-index: 10;
	}
	.HeaderTime {
		display: none;	
	}
	.HeaderNav {
		top: -100%;
		width: 100%;
		height: 100vh;
		overflow:auto;
		position: fixed;
		background-color: var(--pink);
	}
	.HeaderNav ul {
		margin-top: 200px;
		flex-flow: column;
		width: 100%;
	}
	.HeaderNav li {
		font-size: 25px;
		width: 100%;
	}
	.HeaderTime1 {
		display: flex;	
	}
}


@media(max-width: 500px) {
	.burger {
		position: absolute;
		top: 0;
		left: 85%;
	}
	.HeaderTime1 {
		position: relative;
		margin: 50px 50px 10px 50px;
	}
}



@media(max-width: 375px) {
	.burger {
		position: absolute;
		left: 80%;
	}
}